<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file : sports.properties -->
	<context:property-placeholder location="classpath:/com/jsmile/springdemo/sports.properties"/>
    <!-- Define your beans here -->
    <bean id="myFortuneService" class="com.jsmile.springdemo.HappyFortuneService" />
    <bean id="myCoach" class="com.jsmile.springdemo.TrackCoach" >
    	<!-- Dependency Injection : constructor injection -->
    	<constructor-arg ref="myFortuneService" />
    </bean>
    <bean id="myCraketCoach" class="com.jsmile.springdemo.CraketCoach">
    	<!-- Dependency Injection : setter injection -->
    	<property name="fortuneService" ref="myFortuneService" />
    	<!-- Dependency Injection : literal value injection 
    	<property name="email" value="jsmile@naver.com" />
    	<property name="team" value="LA Dazus" />    	
    	-->
    	<!-- Dependency Injection : .properties file value injection -->
    	<property name="email" value="${foo.email}" />
    	<property name="team" value="${foo.team}" />    
    </bean>
    

</beans>





